/* principal */

:root{
    --azul-primario: #3591E5;
    --azul-oscuro-primario:#26374b;
    --boton-primario: #2FBAE0;
    /* --background-claro: #47f5ec21; */
    /* --background-claro:#47f5ec1a; */
    --background-claro:#47f5ec0f;
    --azul-secundario: #1ACEFF;
    --blancos: #FFFFFF;
    --negros-primarios:#000000;
    /* --negros-secundarios:#000000; */
    --negros-secundarios:#000000ad;
    --transparente:#C4C4C4;

    --gris:#0000002e;

    /* colores a las tarjetas */
    --t_azul:#3591E5;
    --t_turqueza:#45B6DE;
    --t_cielo:#58F0F5;
    --t_melon:#ff980099;
    --t_gusano:#78FFC2;

    --t_verd:#26e0a2b8;
    --t_menta:#3fd4c2;

    --t_vfluorecente:#66FFA0;

    /* color para los seguros */
    --s_azul_claro: #6fa1f0;
    --s_amarillo:#f2be2c;
    --s_menta:#3fd4c2;
    --s_rosa:#f37777;
    --s_cielo:#63d2ff;

    --azul-1:#0091eb;
    --azul-2:#199ced;
    --azul-3:#33a7ef;
    --azul-4:#4cb2f1;
    --azul-5:#66bdf3;
    --azul-6:#7fc8f5;

    /* footer */
    --background_footer:#143548;
}

section{
    margin-top: 2%;
    margin-bottom: 3%;
}

.btn-primary{
    background-color: var(--azul-oscuro-primario);
    color: var(--blancos);
    font-size: 14px;
    font-weight: 500;
}

.btn-secoundary{
    background-color: var(--azul-secundario);
    color: var(--blancos);
    font-size: 14px;
    font-weight: 500;
}

.btn-secoundary:hover {
    background: var(--azul-oscuro-primario);
    color: var(--blancos);
    border: 1px solid var(--blancos);
}

/* navbar */
/* nav.navbar.fixed-top.navbar-light.bg-light {
    box-shadow: 2px 22px 13px -13px rgb(0 0 0 / 10%);
} */

.logo_kalifa{
    width: 18%;
}

.bar-menu{
    color: var(--azul-primario);
    background: var(--blancos);
    font-size: 14px;
    font-weight: 500;
    box-shadow: 2px 22px 13px -13px rgb(0 0 0 / 10%);
}

.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color:var(--azul-oscuro-primario);
}

span.navbar-toggler-icon {
    border: 1px solid;
    border-radius: 6px;
}

/* seccion de estadisticas */
#estadisticas{
    margin-top: -34px;
}

.sec_estadistica{
    border: 1px solid var(--gris);
}

.icon_est{
    width: 60%;
}

.num_estadisticas {
    margin-top: 4%;
}

#numeros_est{
    color: #1b4977;
    line-height: 29px;
    font-size: 40px;
    font-weight: 500;
}

#text_est {
    font-size: 15px;
    line-height: 18px;
    /* font-weight: 600; */
}

/* compania */
#sec_compania{
    background-color: var(--background-claro);
    border-radius: 12px;
}

.card{
    background: none;
    border: none;
}

.btn.btn-link.btn-block.text-left {
    color: var(--azul-oscuro-primario);
    font-weight: bold;
}

.title-secction{
    color:var(--azul-primario);
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 2%;
}

.title{
    color:var(--azul-primario);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 2%;
}

.msg-compania{
    margin: 12% 3% 3% 3%;
    color: var(--azul-primario);
}

.img_compania{
    margin: 1px -11% 0px -11%;
}

/* comentarios */
.caja-comentarios {
    border: 1px solid var(--gris);
    border-radius: 12px;
    box-shadow: 0px 10px 15px -3px rgb(0 0 0 / 10%);
    height: 290px;
    transition: all 400ms ease;
}


.caja-comentarios:hover{
    box-shadow: 13px 16px 4px -2px rgba(0,0,0,0.1);
    transform: translateY(-1%);
}

.seccion_comentario {
    /* margin: 17px; */
    margin: 18px 17px 32px 17px;
}

.item-comentarios{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    padding-left: 2%;
}

.name-cliente {
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--negros-primarios);
    margin: 0% 0% 6% 0%;
}

.comentario-client{
    color: var(--negros-secundarios);
}

ol.carousel-indicators.comentarios {
    bottom: -45px;
}
.carousel-indicators.comentarios li {
    background: var(--azul-oscuro-primario);
    border-radius: 50%;
    width: 15px;
    height: 0px;
}

#seguros{
    padding: 2%;
}

.prev-seguros{
    margin-left: -55px;
    /* background: red; */
    margin-top: 50px;
}

.next-seguros {
    /* background: red; */
    margin-right: -55px;
    margin-top: 50px;
}

.target-seguro {
    width: 14%;
    height: 148px;
    margin: 0px 3% 0px 3%;
    border-radius: 22px;
    /* background: #4d9af45c; */
    transition: all 400ms ease;
}

.target-seguro:hover{
    box-shadow: 13px 16px 4px -2px rgba(0,0,0,0.1);
    transform: translateY(-3%);
}

.seguro_1{
    background: var(--azul-1);
}

.seguro_2{
    background: var(--azul-2);
}

.seguro_3{
    background: var(--azul-3);
}

.seguro_4{
    background: var(--azul-4);
}

.seguro_5{
    background: var(--azul-5);
}

.title-target {
    height: 47px;
    margin: 9px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: var(--blancos);
}

.img-target {
    width: 47%;
}

/* footer */
footer{
    background: var(--background_footer);
    /* background: var(--azul-oscuro-primario); */
}

.footer-principal{
    margin: 2% 0px 2% 0px;
}

.compania {
    margin-top: 26px;
    margin-bottom: 23px;
}

.logo_footer{
    width: 12%;
}

.s_media {
    margin: 2%;
    border-radius: 50%;
    width: 32px;
    height: 33px;
    background: var(--boton-primario);
}

.s_media:hover{
    background: var(--azul-oscuro-primario);
    border: 1px solid var(--blancos);
}

.logo{
    margin-top: 1px;
}

#email-boletin {
    width: 231px;
    height: 35px;
    border-radius: 8px;
    border: none;
    background: var(--transparente);
}

.label-decoration {
    color: white;
    margin-bottom: 0px;
    position: absolute;
    margin-left: 16px;
    margin-top: 4px;
    letter-spacing: 2px;
}

.boletin {
    margin-top: 5%;
    margin-left: -5px;
}

.seccion_down{
    margin-top: 4%;
    margin-bottom: 2%;
}

/* seccion empresa */
.title_section_footer {
    font-size: 12px;
    color: var(--azul-secundario);
    font-weight: 700;
    text-align: start;
    letter-spacing: 1px;
}

ul.servicios {
    margin-inline-start: -39px;
}

.list-services {
    display: inline;
}

.item_service {
    color: white;
    display: inline;
    margin-right: 4px;
    font-size: 11px;
}

.item_service:hover{
    color:var(--azul-secundario);
    text-decoration: none;
}

.content-secction {
    color: white;
    font-size: 11px;
}

.line_item {
    margin-bottom: -3px;
}

.segundo_h {
    margin-left: 73px;
}
.map {
    margin-top: 2%;
    width: 100%;
    border-radius: 16px;
    margin-left: -14px;
}

#linea {
    border: none;
    height: 1px;
    background:var(--blancos);
}

#creditos{
    margin-top: 3em;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    font-size: .667em;
    color: #bac7a7;
    font-family: Heebo,sans-serif;
    margin-bottom: 2em;
}

/* seccion de contacto */
.info-box{
    background: #1aceff5c;
    padding: 2% 0px 2% 0px;
}